// Tapography

$openSans: 'Open Sans', sans-serif;
$headings: 'Montserrat', sans-serif;

// Colors

$darkBlue: #02161f;
$grey: #7b8082;
$lightGrey: #fbfcfc;
$borderColor: #d7d7d7;
$Ps: #31c5f0;
$Ai: #ff7f17;
$Id: #fd4c94;
$Lr: #aed3ec;
$htmlColor: #f1662d;
$cssColor: #28a6de;
$phpColor: #6181b6;
$jsColor: #ebc421;

// Social media colors

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
